<div class="cart">
  <h3> You have <%=  pluralize @order.order_products.count, 'item' %>  in your shopping bag </h3>
  <% if  @order.order_products.count  > 0 %>
    <%= render partial: 'list_order_items' %>
    <p>
      <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_4ZTpi4sGW2JMFGrxlNn6HnQ7"
          data-name="Scholastic"
          data-description="PAY (<%= number_to_currency @order.total %>)"
          data-amount="<%= @order.total %>">
        </script>
      </form>
    </p>
  <% end %>
</div>
